@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter", serif;
}

.account-detail {
    padding: 0px;
    background: linear-gradient(
        45deg,
        rgba(248, 238, 249, 1) 0%,
        rgba(226, 247, 250, 1) 100%
    );
}
.accountdetailscard{
    /* width: 1209px; */
}
.account-details {
    z-index: 0;
    position: relative;
    height: 90px;
}
.account-details::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 60%;
    background-image: url(../../Assets/Image/footer-bottom-bg.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: rotate(180deg);
}
.accountdetailpage {
    width: 100%;
    padding: 10px 50px;
}
.accountdetailheading {
background-color: #F7F3FF;
width: 100%;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
}
.form-group{
    background-color: var(--background);
}

.form-input::placeholder{
    background-color: var(--background);
    color: var(--text-color);
}
.sidebaraccountdiv {
    display: flex;
    background-color: #ffff;
    margin-bottom: 100px;
}
.generalformdiv {
    width: 100%;
    padding: 50px;
    padding-inline: 75px;
    padding-left: 30px;
    padding-top: 60px;
}

 .form-group input, 
.form-group textarea,
.form-group select {
   color: black;
} 
 

.accountbtn {
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
padding: 12px;
border-radius: 8px;
width: 100%;
 background-color:#793CFA;
color: #F5F5F5;
font-size: 16px;
line-height: 16px;
font-weight: 400;
 border: none;
}

@media (max-width: 876px) {
    .generalformdiv {
        width: 100%;
        padding: 9px;
        padding-left: 0px;
        padding-top: 60px;
}
}

@media (max-width: 770px) {
    .account-details {
        display: none;
    }
    .account-detail {
        background: none;
        background-color: #f9f9f9 !important;
    }
    .sidebaraccountdiv {
        display: flex;
        flex-direction: column;
        background: none;
    }
    .accountdetailheading {
    height: 100px;
    width: 90%;
    margin: 0px 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #f7f3ff;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .mainformdiv {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .firstformdiv {
        width: 100% !important;
    }
    .secondformdiv {
        width: 100% !important;
    }
}
@media (min-width:320px) and (max-width:1440px){
    .accountdetailscard{
     width: auto;
    }
    @media (min-width:1421) and (max-width:1600px){
        .righttwhishlist-product-card{
            /* width: 800px !important; */
        }
    }
}