@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", serif;
}
.toys-hero-section{
    background:var(--background); 
    /* background-color: var(--body-background); */
    z-index: 0;
    position: relative;
}
.toys-hero-section::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 10%;
    width: 80%;
    height: 60%;
    background-image: url(../../Assets/Image/footer-bottom-bg.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: rotate(180deg); 
 
    
}
@media (min-width:320px) and (max-width:768px){
    .toyscurated-card{
     width: 133px !important;
    }
    .toyspaddingcuratedcard{
        padding-bottom: 20px !important;
    }
    .toyscuratedcarouselmain{
        padding-bottom: 0 !important;
    }
}