.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 38px; */
  padding: 10px 0px;
  background-color: var(--body_background);

}

.filtertype{
  display: flex;
  justify-content: space-around;
  /* position: relative; */

}


.filter-bar select {
  padding: 8px 21px;
  border: 1px solid #ccc;
  border-radius: 23px;
  font-size: 14px;
  outline: none;
  background-color: var(--white-smoke);
  cursor: pointer;
  margin: 7px 10px;
  font-size: 13px;
  color: var(--title-color);
}

.filter-bar .sort-by {
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-bar .sort-by label {
  font-size: 14px;
 
}
@media (min-width:320px) and (max-width:768px){
  .filter-bar select{
    margin: 7px 2px;
  }
  .cardhome {
    width: 300px !important;
}
.filter-none{
  display: none;
  /* background-color: var(--body_background); */
}
}
@media (max-width:1440px){
  .gaptype{
    gap: 2rem !important

  }
 
}

@media (max-width: 798px) {
  .gaptype {
      gap: 1rem !important;
  }
}

@media (max-width: 425px){
.filtertype{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

}
@media (max-width: 375px){
.filter-bar{
  justify-content: center;
}
.categories-card {
  margin: 60px 6px;
}

}
@media (min-width:769px) and (max-width:1024px){
.gaptype {
  gap: 2rem !important;
  overflow: auto;
  justify-content: start !important;
  display: grid !important
;
  grid-template-columns: repeat(6, 1fr);
}
}